body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.loginLogo {
  width: 200px;
}

.containerBg {
  background-color: #2e3233;
  height: 100vh;
  padding-top: 50px;
}

.btn {
  min-width: 180px;
}

.flagBlock {
  position: absolute;
  right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.flagIcon {
  width: 30px;
  margin-left: 10px;
}

.flagIcon:hover {
  cursor: pointer;
}

.avatar-circle {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.pseudo {
  font-size: 20px;
  font-weight: 900;
}

.profile-icon {
  width: 20px;
  height: 20px;
}

.edit-icon {
  width: 20px;
}

.edit-icon:hover {
  cursor: pointer;
}

.click {
  cursor: pointer;
}

.cardShadow {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.14);
}
