.title {
  color: white;
  font-size: 24px;
}

.room {
  color: white;
  font-size: 24px;
  text-align: center;
}

.lobbyBg {
  background-color: #333b3f;
  border-radius: 15px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.14);
}

.lobby-circle {
  object-fit: cover;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.game-circle {
  object-fit: cover;
  width: 60px;
  border-radius: 50%;
}

.lobby-kick {
  width: 25px;
  position: absolute;
  top: 0px;
  left: 5px;
}

.game-disconnected {
  width: 25px;
  position: absolute;
  top: -5px;
  left: 45px;
}

.avatar-pos {
  position: relative;
}

.chatBg {
  background: rgb(53, 58, 66);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.14);
  height: 75vh;
  margin-bottom: 15px;
  border-radius: 15px;
  position: relative;
}

.chatInput {
  border-radius: 20px !important;
}

.wolfChat {
  border: solid 3px darkred  
}

.send-icon {
  width: 25px;
  min-width: 25px;
}

.toggle-wolf {
  width: 45px;
  min-width: 45px;
  object-fit: cover;
  border-radius: 50%;
}

.chatContent {
  overflow: auto;
  margin-bottom: 50px;
  height: 80%;
}

.bubble {
  position: relative;
  width: 200px;
  height: auto;
  padding: 0px;
  background: #212121;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  box-shadow: 0px 2px 6px 0px rgba(235, 235, 235, 0.14);
}

.bubbleMe {
  overflow-x: hidden;
  position: relative;
  width: 200px;
  height: auto;
  padding: 0px;
  background: #424242;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  box-shadow: 0px 2px 6px 0px rgba(235, 235, 235, 0.14);
}

.wolf {
  border: solid 1px darkred
}

.modal-content {
  background-color: #171919 !important;
}

.identity {
  width: 100%;
}

.rule-text {
  color: white;
  text-align: justify;
}

.miniCard {
  width: 5%;
  position: absolute;
  top: 10px;
  left: 10px;
}
